@model Domain.Models.Document

<div class="header">
    <h1>@ViewData["DocumentTitle"]</h1>
    <h2>@ViewData["DocumentSubtitle"]</h2>
    <p>Номер документа: @Model.DocumentNumber</p>
    <p>Дата видачі: @Model.IssueDate</p>
</div>