@model Domain.Models.CivilProfession

@{
    ViewData["Title"] = "Civil Profession Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                Profession Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProfessionName)
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>